<header class="app-header">

    <% if (path === '/') { %>
        <div class="header-user-info">
            <span>¡Hola, <%= currentUser.name %>!</span>
        </div>
        <a href="/settings" class="header-icon" title="Ajustes">
            <i class="fas fa-cog"></i>
        </a>

    <% } else if (path === '/settings') { %>
        <a href="/" class="header-icon" title="Volver al chat">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="header-title">Ajustes</h1>
        <a href="/logout" class="header-icon" title="Cerrar Sesión">
            <i class="fas fa-sign-out-alt"></i>
        </a>

    <% } else { %>
        <a href="/" class="header-title-logo">
            YumiFeel 💖
        </a>
         <a href="/logout" class="header-icon" title="Cerrar Sesión">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    <% } %>

</header>