<header>
    <% if (path === '/settings') { %>
        <a href="/" class="header-btn-icon" title="Volver al Chat">
            <i class="fas fa-arrow-left"></i>
        </a>
        
        <div class="header-title-logo" style="font-size: 1.2rem;">Mi Estado</div>
        
        <div style="width: 40px;"></div>

    <% } else { %>
        
        <div class="header-title-logo">
            YumiFeel 💖
        </div>

        <% if (currentUser) { %>
            <a href="/settings" class="header-btn-icon" title="Ajustes y Estado">
                <i class="fas fa-user-circle"></i>
            </a>
        <% } %>

    <% } %>
</header>